{% extends "base.html"%}
{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>My Django App</title>
    </head>
    <body>
        <h1>Welcome to Step Tech Assignment</h1>
        <p>1) Click on <a href="/hello/">hello</a> to redirect to 'hello/'</p>
        <p>2) Click on <a href="/users/">user</a> to redirect to 'users/'</p>
        <p>3) Click on <a href="/new_user/">New User</a> to redirect to 'new_user/'</p>
        <p>4) Type 'users/id/' to get particular id details.</p>
    </body>
    </html>
{% endblock%}